*{
    box-sizing: border-box;
    margin: 0;
}
.home{
    background: #000033;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    background: #16167e;
    color: wheat;
    padding-left: 30px;
}
header input{
    height: 30px;
    align-self: center;
}

header p{
    display: inline;
    padding: 15px;
}
.login{
    display: inline;
}

.login p{
    display: inline;
}

header button{
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding: 7px;
    margin-left: 20px;
}

.top-song{
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    
}
.top-song img{
    height: 300px;
    filter: opacity(.4);
}
.top-song span{
    color: rgb(0, 217, 255);
}
.top-song button{
    border: none;
    background: blue;
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
}
.my-text{
    align-items: center;
}